<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sudoteam.securitycenter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    
    <!-- for 网络监控 -->
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL" />
    <uses-permission android:name="android.permission.READ_NETWORK_USAGE_HISTORY" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!-- for app ops 权限管理 -->
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".Activity.SecurityApp">

        <activity
            android:name="com.sudoteam.securitycenter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".netstat.NetFirewallActivity"/>
        <activity android:name=".netstat.NetstatActivity"/>
        <activity android:name=".optimizer.OptimizerActivity"/>


        <!-- add by huayang -->
        <activity android:name=".Activity.ScanLogActivity"/>
        <activity android:name=".Activity.ScanVirusActivity"/>
        <activity android:name=".Activity.SuperActivity"/>

        
        
        <!-- activity for mac module-->
        <activity
            android:name="com.sudoteam.securitycenter.mac.MacActivity" android:theme="@style/StyledIndicators" >
        </activity>
        
        <activity
            android:name="com.sudoteam.securitycenter.mac.PermissionsOfApp"/>
        
        <activity
            android:name="com.sudoteam.securitycenter.mac.AppsOfPermission"/>
        
    </application>

</manifest>
